
@{
    ViewBag.Title = "PostPendingApproval";
}

<h2>Your post is awaiting approval</h2>
<p>Thank you for your submission! An admin will review your post shortly.</p>
<a href="@Url.Action("Index", "Home")">Go back to the home page</a>


