@model ForumApp.Models.AddRoleModel
@{
    ViewBag.Title = "AddUserToRole";
}

<h2>Add user to Role:</h2>

@using (Html.BeginForm("AddUserToRole", "Account"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })  
    </div>

    <div class="form-group">
        @Html.DropDownListFor(z=>z.SelectedRole,new SelectList(Model.Roles), new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-default">Save</button>
    

}

